*~
*.aux
*.bak
*.bgv
*.cfg
*.class
*.config
*.csv
*.dot
*.hprof
*.iml
*.jar
*.log
*.o
*.obj
*.orig
*.pdf
*.phaseplan
*.pyc
*.rej
*.swn
*.swo
*.swp
*.zip
*.bgv
.DS_Store
.checkstyle
.classpath
.externalToolBuilders
.factorypath
.idea
.metadata/
.project
.pydevproject
.settings/
bin/
build.xml
clibraries/
svmbuild/
core.*
eclipse-launches/
env
hs_err_pid*.log
javadoc/
lib/
mx.imports/
mxbuild/
nbproject/
scratch/
src_gen/
test-output/
workingsets.xml
bench-results.json
jmh_result.json
/vm/src/installer/dist/
/tools/generators/node_modules/
/tools/generators/out/
visualizer/IdealGraphVisualizer/*/target/
/.src-rev
*.interp
*.tokens
/vm/tests/gh_workflows/CDTInspectorTest/target/
!tests/classfiles/hint/bcGen/*.class
!tests/classfiles/hint/bcGen/Classes/*.class
!tests/classfiles/plain/bcGen/*.class
!tests/classfiles/plain/bcGen/Classes/*.class
!tests/classfiles/hint/bcGen/Methods/*.class
!tests/classfiles/plain/bcGen/Methods/*.class
!tests/classfiles/hint/bcGen/Arrays/*.class
!tests/classfiles/plain/bcGen/Arrays/*.class
.vscode/
.metals/
.scala-build/
.bsp/
/substratevm/src/native-image-module-tests/*/target/
scala-gen